* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

/* Navbar */

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.navbar-content {
  display: flex;
  width: 40%;
  flex-direction: row;
  margin-top: 78px;
  margin-left: 80px;
}
.navbar-content a {
  font-size: 20px;
  font-weight: 500;
  margin-right: 73px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.884);
}
.navbar-content a:hover{
    color: #de5f17;
    transition: 0.1s ease;
}
.navbar h3 {
  font-style: normal;
  font-size: 26px;
  margin-left: 0px;
  margin-top: 68px;
}
.navbar #pre{
    color:rgba(66, 64, 64, 0.603);
}
.navbar #post{
    color: rgba(0, 0, 0, 0.884);
}

/* First Page */

.first-page {
  position: relative;
}
.first-page img {
  position: absolute;
  width: 470px;
  height: 444px;
  top: 7%;
  left: 67%;
  z-index: -1;
}

.first-page-content {
  padding-left: 80px;
  padding-top: 100px;
}
.first-page-content h1 {
  font-size: 60px;
  font-weight: bold;
}
.first-page-content h2{
    padding-top: 18px;
}
.first-page-content span {
  color: #de5f17;
}
.first-page-content #high-price {
  font-size: 38px;
  color: rgba(138, 124, 124,0.7);
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: rgba(138, 124, 124,0.6);
  padding-top: 20px;
}
.first-page-content h3 {
  padding-top: 18px;
}
.first-page-content #drop-price {
  color: black;
  opacity: 100%;
  font-size: 45px;
  padding-left: 10px;
}

.front-page-btn{
    padding-top: 30px;
}
#try-btn {
  color: white;
  height: 64px;
  width: 266px;
  background-color: #de5f17;
  border: none;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  box-shadow: 4px 10px 30px rgba(133, 129, 129, 0.664);
}
